$color-red: #E73F3F;
$color-orange: #F76C27;
$color-yellow: #E7E737;
$color-blue: #6D9DD1;
$color-purple: #7E45D3;
$color-black: #222;
$color-white: #f7f7f7;
$color-darkgray: #383838;
$color-gray: #9F9F9F;
$color-lightgray: #e7e7e7;
