@import "src/_normalize.scss";
@import "src/_bootstrap.min.scss";
@import "src/_bootstrap-theme.min.scss";
@import "src/_back-to-top.scss";
@import "src/_color.scss";

body{
	padding-top: 70px;
}

.chart{
	min-height: 100%;
	padding: 0;
}