@import "pure-min";

@import "color";
@import "dashboard";

*{
	font-family: helvetica;
}

body{
	background-color: #f7f7f7;
}

article{
	min-height: 500px;
	height: auto;
	height: 500px;
}

form{
}

fieldset{
}

.box{
	padding: 10px;
	margin: 20px;
}

.half-width{
	width: 50%
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.chart{
	
	min-height: 100%;
	padding: 0;
}

nav {
  background-color: $color-black;
  height:40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
  z-index: 999999;
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 15px 0px 15px;
  color: $color-white;  
  margin-left: 1px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
}
 
nav ul li a:hover { 
  background: $color-blue; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
  z-index: 999999;
}
 
nav li:hover li {
  float: none;
}
 
nav li:hover a { 
  background: $color-darkgray;
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: $color-blue; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}

button{
	top: 0;
	right: 0;
	margin: 0;
	padding: 8px;
	font-size: 20px;
	cursor: auto;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	color: $color-white;
	border: 0px;
	border-radius: 6px;
}

button:focus{
	outline: none;
}

button[type=submit]{
	background-color: $color-blue;
}

button[type=submit]:hover {
	background-color: #85b4dc;
}

button[type=submit].submit-secondary{
	background-color: $color-gray;
}

button[type=submit].submit-secondary:hover {
	background-color: #bbbbbb;
}

input[type=file]{
	top: 0;
	right: 0;
	margin: 0;
	padding: 8px;
	cursor: auto;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	color: $color-white;
	border: 0px;
	border-radius: 6px;
	background-color: $color-red;
}

input[type=number]{
	padding:.5em .6em;
	display:inline-block;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 3px #ddd;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

input[type=number]:focus{
	outline:0;
	outline:thin dotted \9;
	border-color:#129FEA
}

.table-header{
}

.table-row{
}

.table-row-odd{
}

.table-row-selected{
}

.table-row-hover{
}

.table-header-cell{
}

.table-cell{
}
